---
layout: default
---
<div class="page-name-holder">
    <span>{{ page.title }}</span>
</div>
<div class="page-content">
    {{ content }}
</div>
<div class="contact-us-form">
    <div class="mb-4">
        <input type="text" class="form-control" id="name" placeholder="John Doe">
    </div>
    <div class="mb-4">
        <input type="email" class="form-control" id="email" placeholder="johndoe@gmail.com">
    </div>
    <div class="mb-3">
        <textarea class="form-control" id="message" rows="6" placeholder="Enter your message"></textarea>
    </div>
    <button class="btn btn-dark-custom">submit</button>
</div>